<div class="title">
  <mat-icon fontIcon="forklift"></mat-icon>
  <p>Port operations ...</p>
</div>
<mat-accordion *ngFor="let order of dataSource">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Order #{{ order.id }}
    </mat-expansion-panel-header>
    <div class="cards">
      <mat-card>
        <mat-card-header>Before loading</mat-card-header>
        <mat-card-content>
          <mat-selection-list #before [multiple]="false">
            @for (operation of operationsBefore; track operation) {
            <mat-list-option [value]="operation">{{
              operation
            }}</mat-list-option>
            }
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>After loading</mat-card-header>
        <mat-card-content>
          <mat-selection-list
            #after
            [multiple]="false"
            [disabled]="
              !(
                before.selectedOptions.hasValue() &&
                before.selectedOptions.selected[0].value === 'Draft Fixiation'
              )
            "
          >
            @for (operation of operationsAfter; track operation) {
            <mat-list-option [value]="operation">{{
              operation
            }}</mat-list-option>
            }
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!before.selectedOptions.hasValue()"
      (click)="
        onApply(
          order,
          after.selectedOptions.hasValue()
            ? after.selectedOptions.selected[0].value
            : before.selectedOptions.hasValue()
            ? before.selectedOptions.selected[0].value
            : ''
        )
      "
    >
      Apply
    </button>
  </mat-expansion-panel>
</mat-accordion>
