section {
  height: calc(100vh - 4rem);
  width: 100vw;
  position: relative;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
}

.contact {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
