<div *ngIf="selectedOrder">
  <div class="title">
    <mat-icon fontIcon="tag"></mat-icon>
    <p>{{ selectedOrder.id }}</p>
  </div>
  <section>
    <mat-stepper orientation="vertical">
      <mat-step>
        <ng-template matStepLabel> Order Created </ng-template>

        <ng-template matStepContent>
          <div>
            <p>Order Created at: {{ selectedOrder.createdAt }}</p>
            <p>From: {{ selectedOrder.from }}</p>
            <p>To: {{ selectedOrder.to }}</p>
            <p>Grain: {{ selectedOrder.grain }}</p>
            <p>Weight: {{ selectedOrder.weight }}</p>
          </div>
        </ng-template>
      </mat-step>

      <mat-step *ngIf="selectedOrder.stage > 3">
        <ng-template matStepLabel>
          Grains purchase and delivery to port
        </ng-template>
        <div>
          <p>Order has approved</p>
          <p>Grain: {{ selectedCargo.grain }}</p>
          <p>Weight: {{ selectedCargo.weight }}</p>
          <p>Date: {{ selectedCargo.date }}</p>
          <p>Price: {{ selectedCargo.price }}</p>
        </div>
      </mat-step>
      <mat-step *ngIf="selectedOrder.stage > 7">
        <ng-template matStepLabel> Order a ship </ng-template>
        <div>
          <p>Capacity: {{ selectedShip.shipCapacity }}</p>
          <p>agreement Date with broker: {{ selectedShip.dateBroker }}</p>
          <p>agreement Date with Owner: {{ selectedShip.dateOwner }}</p>
          <p>Bid: {{ selectedShip.bid }}</p>
          <p>Demurrage: {{ selectedShip.demurrage }}</p>
          <p>Loading Weight: {{ selectedShip.loadingWeight }}</p>
          <p>Charging Port: {{ selectedShip.from }}</p>
          <p>Discharging Port: {{ selectedShip.to }}</p>
        </div>
      </mat-step>
    </mat-stepper>
  </section>
</div>
